<div style="display:inline-block">
  <ul style="list-style:none">
    <li><i>{{review.detail}}</i></li>
    <li>Posted by: {{review.author}}</li>
  </ul>
</div>

<div style="display:inline-block">
  <button {{action 'deleteReview' review}}>Delete</button>
</div>
